# Node
NODE_ID=1
NODE_ADDRESS=localhost:5001

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=bully
POSTGRES_PORT=5432
POSTGRES_SSL_MODE=disable

# Logging
LOG_LEVEL=info
LOG_FORMAT=json
